{% load static %}
{% include "../header.html" %}
<br>
<center>
    <div class="card" style="width: 18rem;">
        <img src="{{ book.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h3>Название - {{ book.name }}</h3>
            <p class="card-text">Автор - {{ book.author }}</p>
            <p class="card-text">Жанр - {{ book.genre }}</p>
            <p class="card-text">Описание - {{ book.about_emp }}</p>
        </div>
    </div>
    <ul>
        {% for review in book.review_books.all %}
            <li>
                <br>
                <h2>Комментарий от пользователя: {{ review.text }} 📖</h2>
                <h3>Оценка: {{ review.mark }} ⭐</h3>
            </li>
        {% endfor %}
    </ul>
</center>
{% include "../footer.html" %}
