{% include "../header.html" %}
<ul>
    {% for i in users %}
    <li>
        <h1>Привет - {{ i.username }}</h1>
        <p>Почта - {{ i.email }}</p>
        <p> {{ i.first_name }}</p>
        <p>Возраст - {{ i.age }}</p>
        {% if i.squad %}
        <p>Ваш возраст подходит к: {{ i.squad }}</p>
        {% else %}
        <p>Возрастная группа не определена</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <button type="submit">Выйти из аккаунта</button>
    <br><br>
</form>
{% include "../footer.html" %}